<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Songs and Sounds by Travis Briggs{{' - %s' % title if title else ''}}</title>

  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/dist/fa-svg-with-js.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Roboto">
  <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
  {% block content %}
  {% endblock content %}
  <footer class="{{'single' if title else ''}}">
  </footer>
  <script src="/static/js/dist/jquery-3.3.1.min.js"></script>
  <script src="/static/js/dist/fontawesome-all.min.js"></script>
  <script src="/static/js/main.js"></script>
</body>
</html>
